/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/
.order-enter {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: .5s;
  transition: .5s;
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  max-height: 60px;
  padding: 2rem 0 !important;
}
.order-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}
.order-exit.order-exit-active {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  padding: 0;
}
.count-enter {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.count-enter.count-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.count-exit.count-exit-active {
  -webkit-transform: translateY(-100%) scale(1.5);
          transform: translateY(-100%) scale(1.5);
}
